#ArticlesList{

  @include headers{
    margin: 0;
  }
  ul{
    margin: 0;
    padding: 3rem 0;
    li{
      margin: 0;
      list-style-type: none;
      margin-bottom: 2rem;
      &:last-child{
        margin-bottom: 0;
      }
      > div{
        display: inline-block;
      }
      h2{
        margin-bottom: .5rem;
        a{
          color: black;
          &:hover{
            color: $dark-red;
          }
        }
      }
      h5{
        margin-bottom: .5rem;
      }
      h6{
        line-height: 1.6;
        // font-style: italic;
        font-family: $serif;
        &:first-child{
          content: "hello world";
        }
      }
      .dateLength{
        $border-width: .125rem;
        vertical-align: top;
        margin-bottom: .5rem;
        width: 100%;
        font-style: italic;
        
        @include headers{
          font-size: $ms--1;
          color: calcShade(40);
          display: inline;
        }


        @include breakpoint(730px){
          text-align: right;
          width: 20%;
          margin-right: 5%;
          margin-bottom: 0;
          padding-top: .5rem;
          margin-top: .75rem;
          @include before{
            top: 0;
            right: 0;
            height: 0;
            width: 25%;
            border-top: $border-width solid calcShade(8);
          }
          @include headers{
            display: block;
          }
        }
        @include breakpoint("s"){
          // padding-top: .75rem;
        }
      }
      .titleSubhead{
        @include breakpoint(730px){
          width: 75%;
        }
      }
      @include breakpoint(730px){
        margin-bottom: 4rem;
      }
    }
  }
}