/*  -----------------------------------------------------------------------------
  ::  HELPER CLASSES
  ::
  ::  Define global helper classes
  ----------------------------------------------------------------------------- */

.screen-reader-text{
  display: none;
}

.stop-scrolling {
  height: 100%;
  overflow: visible;
}