/*  -----------------------------------------------------------------------------
	::  BASE GRID
	::
	::	Set global grid rules
	----------------------------------------------------------------------------- */

@include border-box-sizing;

// Breakpoint list for primary content styling
$named-breakpoints: (
  "xxxs"  : 480px,
  "xxs"   : 620px,
  "xs"    : 780px,
  "s"     : 860px,
  "m"     : 1100px,
  "l"     : 1300px,
  "xl"    : 1500px,
  "xxl"   : 1700px,
  "xxxl"  : 2200px
);

@mixin smallGrid{
  padding-left: 3.789%;
  padding-right: 3.789%;
  @include breakpoint("xxxs"){
    padding-left: 6.709%;
    padding-right: 6.709%;
  }
  @include breakpoint(670px){
    padding-left: 8.575%;
    padding-right: 8.575%;
  }
  @include breakpoint(730px){
    padding-left: 11.744%;
    padding-right: 11.744%;
  }
  //Pre constraint breakpoints are less than XS
  @include breakpoint("xs"){
    padding-left: 0;
    padding-right: 0;
  }
}

@mixin largeGrid{
  //Grid becomes constrained
  @include breakpoint("xs"){
    padding: 0 11.744%;
  }
  @include breakpoint(990px){
    padding: 0 14.693%;
  }
  @include breakpoint(1160px){
    padding: 0 19.098%;
  }
  @include breakpoint("l"){
    padding: 0 21.132%;
  }
  @include breakpoint("xxl"){
    padding: 0 25%;
  }
}

@mixin globalGrid{
  @include smallGrid;
  @include largeGrid;
}

@mixin articleGrid{
  @include smallGrid;
  @include breakpoint("s"){
    padding-left: 10%;
  }
  @include breakpoint("m"){
    padding-left: 15%;
  }
  @include breakpoint("xl"){
    padding-left: 25%;
  }
}

@mixin narrowGrid{
  padding-left: 18.789%;
  padding-right: 18.789%;
  @include breakpoint("xxxs"){
    padding-left: 21.709%;
    padding-right: 21.709%;
  }
  //Pre constraint breakpoints are less than XS
  @include breakpoint(670px){
    padding-left: 23.575%;
    padding-right: 23.575%;
  }
  @include breakpoint(730px){
    padding-left: 26.744%;
    padding-right: 26.744%;
  }
  @include breakpoint("xs"){
    padding-left: 15%;
    padding-right: 15%;
  }
  @include breakpoint("s"){
    padding-left: 25%;
    padding-right: 15%;
  }
  @include breakpoint("m"){
    padding-left: 30%;
    padding-right: 15%;
  }
  @include breakpoint("xl"){
    padding-left: 40%;
    padding-right: 15%;
  }
}
