
/* Font stacks
============================================================================ */

$sans-serif: 'Whitney A', 'Whitney B', "lucida sans", "gill sans", helvetica, arial, sans-serif;
$serif: "ff-tisa-web-pro", georgia, serif;
$small-caps: "ff-meta-serif-sc-web-pro";


/* Modular Scales
============================================================================= */

$ms-base: .8rem 1rem;
$ms-ratio: $golden;


/* Baseline
============================================================================= */

$baselineDivisions: 8;
$baselineDefault: 1.55rem;
$baselines: (
	1000px: 1.6rem,
	1500px: 1.65rem
);


/* Font weight scale
============================================================================= */

$fontWeights: (
	-1 : 300,
	0  : 400,
	1  : 500,
	2  : 600
);
@function fontWeight($i, $fontWeights: $fontWeights) {
  @if map-get($fontWeights, $i) == null {
    @error "No font weight defined for: " + $i;
  }
  @return map-get($fontWeights, $i);
}
