---
title: I'm Max Luster, a San Francisco based product designer & front&#8209;end developer.
---

/ Load the most recent blog post
==blog.articles[0].body

/ Load additional content, specified in the post
/ - content_for :featuredContent do
/   h1 hello world